*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.formulario1{
    background-color: #f2f3f4;
    width: 300px;
    padding-left: 20px;
    margin: auto;
    margin-top: 50px;

}
.negrita{
    font-size: 14px;
    font-weight: bold;
}
.seccion1 {
    margin-bottom: 10px;
}
.seccion2{
    background-color: #2e86c1;
    margin-bottom: 20px;
    padding: 5px 10px;
    color: white;
    border: 0;
}
.first_name, .age, .income, .more_info{
    width: 240px;
    padding: 5px 0;
}
.more_info{
    resize: vertical;
}