*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.formulario{
    text-align: center;
    margin-top: 20px;
}
.subtitulo2, .email, .clave1, .clave2{
    
    margin-bottom: 5px;
}
.email>.correo, .clave1>.clave1_1, .clave2>.clave2_2{
    width: 250px;
    padding-top: 05px;
    padding-left: 10px;
    padding-bottom: 5px;
}
.enviar{
    background-color:#009432;
    color: white;
    width: 100px;
    padding: 10px;
    border: 0;
}